.additional {
  margin-bottom: 35px;
}

.additional__title {
  @include title-middle;
  line-height: 24px;

  padding-bottom: 30px;
  margin: 0;

  position: relative;
}

.additional__title::before {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.additional__title::after {
  content: "";
  border: solid 3px $green;
  position: absolute;
  right: -24px;
  top: 13px;
  width: 53px;
}

.additional ul {
  list-style: none;
}

.additional__item {
  padding-left: 0;
  margin: 0;

  table {
    width: 100%;
  }
}

.additional-item {
  position: relative;
}

.additional-item::after {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.additional-item__wrapper {
  padding-bottom: 18px;
  padding-top: 14px;
}

.additional-item__title {
  @include title-small;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-item__info {
  @include text-all;
  line-height: 14px;
  font-family: $font-two;

  display: flex;
  width: 100%;

  padding-bottom: 10px;
}

.additional-item__info--price {
  margin-left: auto;
}

.additional__button {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.additional__banner {
  @include text-all;
  line-height: 20px;
  font-family: $font-two;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 289px;
  color: white;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  margin-top: 50px;

  span {
    display: flex;
    text-align: center;
    width: 60%;

    padding-bottom: 35px;
  }
}

@media (min-width: $tablet-width) {
  .additional {
    margin-bottom: 75px;
  }

  .additional__title {
    @include title-top;
    line-height: 36px;

    padding-bottom: 75px;
    padding-left: 35px;
  }

  .additional__title::before {
    content: "";
    border: solid 3px $green;
    position: absolute;
    left: -50px;
    top: 20px;
    width: 28px;
    height: 0;
  }

  .additional__title::after {
    content: "";
    border: solid 3px $green;
    position: absolute;
    right: -25px;
    top: 20px;
    width: 327px;
  }


  .additional-item__title {
    @include title-small-tab;
    line-height: 16px;
    text-transform: uppercase;

    margin: 0;
  }

  .additional-item__info {
    @include text-all-tab;
    line-height: 20px;
    font-family: $font-two;

    width: 75%;
    margin-left: auto;
    justify-content: flex-end;
  }

  .additional-item__info--price {
    margin-left: 0;
  }

  .additional__wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .additional-item__wrapper {
    width: 635px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    td:first-child {
      padding-right: 50px;
    }

    table {
      width: 60%;
      margin-left: auto;
    }

    a {
      width: 100%;
      margin-top: 25px;
    }
  }

  .additional-item {
    height: 140px;
    border: 2px solid $color-back;
    border-bottom: none;

    display: flex;

    margin-bottom: 25px;
  }

  .additional__button {
    width: 100%;
  }

  .additional-item::after {
    content: "";
    display: none;
  }

  .additional-item:last-child {
    border-bottom: 2px solid $color-back;
  }

  .additional__banner {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;

    span {
      width: 165px;
      text-align: start;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 120px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .additional__item {
    width: 895px;
    height: 290px;

    margin: 0;
    margin-right: 80px;

    table {
      width: auto;
    }
  }

  .additional-item {
    height: 25%;
    border-right: none;
    border-left: none;

    margin-bottom: 0;
  }

  .additional-item__info {
    width: 100%;
    padding-bottom: 0;
  }

  .additional-item__wrapper {
    width: 895px;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;

    td:first-child {
      padding-right: 100px;
    }

    td:last-child {
      padding-right: 40px;
    }

    table {
      margin-left: auto;
    }

    a {
      width: 245px;
      margin-top: 0;
    }
  }

  .additional__title::before {
    content: "";
    border: solid 3px $green;
    position: absolute;
    left: -70px;
    top: 20px;
    width: 70px;
    height: 0;
  }

  .additional__title::after {
    content: "";
    border: solid 3px $green;
    position: absolute;
    right: -995px;
    top: 20px;
    width: 955px;
  }

  .additional__banner {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 290px;

    margin-top: 0;

    span {
      width: 165px;
      text-align: center;
      margin-top: auto;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
