.exemplar {
  background-color: $color-back;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.exemplar__wrapper {
  width: 280px;
  padding-bottom: 10px;
}

.exemplar__title {
  @include title-top;
  line-height: 60px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 24px;
}

.exemplar__info {
  @include text-all;
  font-family: $font-two;
  padding-bottom: 40px;
  width: 275px;
}

.exemplar__radio-wrap {
  position: relative;
}

.exemplar__result {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-left: 29px;

  padding-bottom: 18px;
}

.exemplar__expenses {
  @include text-all;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 25px;
}

.exemplar__after {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding-bottom: 35px;

  span {
    font-size: 16px;
    line-height: 16px;
  }
}

.exemplar__picture {
  width: 100%;
  height: 232px;
  margin-bottom: 52px;
}

.exemplar__radio {
  margin: 0;
  display: flex;
  width: 237px;

  position: absolute;

  bottom: 27px;
  left: 24px;

  .after {
    margin-left: auto;
  }

  .options__label {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    padding-left: 40px;
  }

  .options__label.before::before {
    content: "";
    display: block;
    position: absolute;
    left: 90px;
    top: 0;

    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
  }

  .options__label.before::after {
    content: "";
    display: block;
    position: absolute;
    left: 99px;
    top: 9px;

    width: 12px;
    height: 12px;

    background-color: $green;
    border-radius: 50%;
    z-index: 3;
    opacity: 0;
  }
}

.before:checked ~ .exemplar__picture {
  display: none;
}

@media (min-width: $tablet-width) {
  .exemplar {
    width: 768px;
    background-color: transparent;
    position: relative;

    margin-bottom: 110px;
  }

  .exemplar::after {
    content: "";
    background-color: $color-back;

    width: 100%;
    height: 462px;
    position: absolute;
    bottom: -74px;
    z-index: -1;
  }

  .exemplar__wrapper {
    width: 708px;
    padding-bottom: 76px;
  }

  .exemplar__title {
    font-size: 60px;
    line-height: 60px;

    position: relative;

    padding-top: 45px;
    padding-bottom: 63px;
  }

  .exemplar__title::before {
    content: "";

    border: solid 1px #eeeeee;
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
  }

  .exemplar__info {
    font-size: 16px;
    line-height: 24px;

    font-family: $font-two;

    padding-bottom: 70px;

    width: 680px;
  }

  .result__time {
    .result__info {
      width: 140px;
    }
  }

  .exemplar__result {
    margin: 0;
    padding-left: 15px;
  }

  .exemplar__expenses {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin-left: auto;
    margin-top: -5px;
    margin-right: 1px;

    width: 175px;

    text-align: right;

    span {
      display: inline-block;
      margin-top: 9px;
    }
  }

  .exemplar__total {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .exemplar__result {
    display: flex;
    justify-content: flex-start;
    width: 367px;
  }



  .exemplar__total {
    display: flex;
    flex-wrap: wrap;
  }

  .exemplar__picture {
    width: 660px;
    height: 500px;
    margin-bottom: 19px;

  }

  .exemplar__after {

    span{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  width: 570px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 0;
    margin-top: 20px;
  }

  .exemplar__radio {
    margin: 0;
    display: flex;
    width: 615px;

    position: absolute;

    bottom: -9px;
    left: -1px;

    .after {
      margin-left: auto;
    }

    .options__label {
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;

      padding-left: 40px;
    }

    .options__label.before::before {
      content: "";
      left: 100px;
      top: 0;

      width: 40px;
      height: 40px;
    }

    .options__label.after::before {
      content: "";
      left: -10px;
      top: 0;

      width: 40px;
      height: 40px;
    }

    .options__label.before::after {
      content: "";
      left: 111px;
      top: 11px;

      width: 18px;
      height: 18px;
    }

    .options__label.after::after {
      content: "";
      left: 1px;
      top: 11px;

      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .exemplar {
    width: 1300px;
    height: 595px;

    flex-wrap: nowrap;
    justify-content: start;

    margin-bottom: 0;
  }

  .exemplar::after {
    width: 150%;
    height: 462px;

    left: -25%;
    top: 135px;
  }

  .exemplar__wrapper {
    width: 450px;
    display: flex;

    padding-bottom: 65px;
    margin-right: 165px;
  }

  .exemplar__info-wrap {
    width: 450px;
    display: flex;
    flex-direction: column;

    padding-left: 41px;
  }

  .exemplar__radio-wrap {
   width: 650px;
  }

  .exemplar__total {
    margin-top: auto;
    justify-content: flex-start;
  }

  .exemplar__expenses {
    margin-left: 0;
    margin-right: auto;
    padding-top: 41px;

    width: 475px;
    text-align: start;

    span {
      display: inline-block;
      margin-left: 59px;
      margin-top: 0;
      width: 90px;
    }
  }

  .exemplar__info {
    font-size: 16px;
    line-height: 24px;

    width: 435px;

    margin-bottom: 14px;
  }



  .exemplar__title {
    padding-bottom: 145px;
    padding-top: 0;
  }

  .exemplar__title::before {
    content: "";

    display: none;
  }

  .exemplar__picture {
    margin-top: -40px;
  }

  .exemplar__after {
    margin-left: 75px;
    padding-top: 20px;
  }

  .exemplar__radio {
    margin: 0;
    display: flex;
    width: 615px;

    position: absolute;

    bottom: 63px;
    left: 30px;

    .after {
      margin-left: auto;
    }

    .options__label {
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;

      padding-left: 40px;
    }
  }
}
