.field {
  padding: 15px 13px;

  opacity: 0.5;
  height: 150px;
}

.field:hover {
  opacity: 1;
}

.field {
  flex-grow: 1;
  height: 46px;
}

.field [type="number"] {
  -moz-appearance: textfield;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field:focus {
  opacity: 1;
  color: black;

  outline: none;
  border: 2px solid black;
}

.field:focus + .owner-data__icon.owner-data__icon--email,
.field:focus + .owner-data__icon.owner-data__icon--phone {
  opacity: 1;
  fill: $green;
}

.field:invalid {
  outline: none;
  border: 2px solid red;
}

.field:invalid + .owner-data__icon.owner-data__icon--email,
.field:invalid + .owner-data__icon.owner-data__icon--phone {
  fill: red;
}

@media (min-width: $tablet-width) {
  .field {
    height: 52px;
    padding: 15px 17px;
  }
}
