.find-us {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-us__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.find-us__invite {
  @include title-small;
  padding-bottom: 25px;
  padding-top: 32px;
  line-height: 20px;
  text-transform: uppercase;
}

.find-us__adress {
  @include text-all;
  padding-bottom: 25px;
  padding-top: 32px;
  padding-left: 18px;
  font-family: $font-two;
  line-height: 20px;
  font-style: normal;
}

.find-us__map {
  height: 365px;
}

.find-us__info--wrap {
  display: flex;
  width: 280px;
}

.find-us__info--wrap.catalog {
  padding: 0px;
  margin-top: -3px;
}

.map__img {
  width: 320px;
  height: 365px;

}

@media (min-width: $tablet-width) {
  .find-us {
    width: 768px;

    padding-bottom: 66px;
  }

  .find-us__wrapper {
    width: 708px;
    display: flex;
    flex-direction: column;
  }

  .find-us__info--wrap {
    display: flex;
    width: 625px;
    margin: 0 auto;
  }

  .find-us__info--wrap {
    display: flex;
    width: 625px;
    margin: 0 auto;
  }

  .find-us__info--wrap.catalog {
    padding-top: 37px;
  }

  .find-us__invite {
    width: 155px;
    font-size: 20px;
    line-height: 25px;

    padding-top: 29px;
  }

  .find-us__adress {
    width: 175px;
    margin-left: auto;
    text-align: right;

    font-size: 16px;
    line-height: 20px;
    font-family: $font-two;

    padding-top: 27px;

    span {
      display: block;
      padding-top: 20px;
    }
  }

  .map__img {
    margin-top: 35px;

    width: 767px;
    height: 400px;
  }


}

@media (min-width: $desktop-width) {
  .find-us {
    width: 1300px;
    height: 400px;
  }

  .find-us__wrapper {
    width: 1220px;
    position: relative;
  }

  .find-us__info {
    position: absolute;
    width: 570px;
    height: 201px;
    border: 1px solid black;
    background-color: white;
    top: 100px;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .find-us__info--wrap {
    width: 405px;
    height: 75px;
  }

  .find-us__info--wrap.catalog {
    padding-top: 0;
  }

  .find-us__invite {
    padding: 0;
    margin-top: 11px;
    margin-left: -6px;
  }

  .find-us__adress {
    padding: 0;
    text-align: start;

    margin-right: -13px;
    margin-top: 10px;
  }

  .map__img {
    background-size: 767px 400px;
  }

  .map__img {
    width: 100vw;
    height: 400px;

    margin-top: 0;
  }
}
