
.program__form {
  display: flex;
  flex-direction: column;

  @include title-small;
  line-height: 18px;
  text-transform: uppercase;

  input {
    @include title-small;
    line-height: 18px;
    text-transform: uppercase;
  }

  textarea {
    @include title-small;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.extra__legend,
.comment__legend,
.owner-data__legend {
  @include title-middle;
  line-height: 24px;
  text-transform: none;
}

.form__button {
  border: none;
}

.form__discription {
  @include text-all;
  text-transform: none;
}

.form-list {
  padding: 0;
}

.data__item,
.owner-data__item {
  display: flex;
}

.field {
  flex-grow: 1;
}

.label {
  padding-right: 15px;
}

.comment__text {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    width: 630px;
    margin: 0 auto;
  }

  .program__form {
    @include title-small-tab;
    line-height: 20px;
    text-transform: uppercase;

    input {
      @include title-small-tab;
      line-height: 20px;
      text-transform: uppercase;
    }

    textarea {
      @include title-small-tab;
      line-height: 30px;
      text-transform: uppercase;
    }
  }

  .extra__legend,
  .comment__legend,
  .owner-data__legend {
    @include title-middle-tab;
    line-height: 36px;
  }

  .program__info {
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    width: 325px;
  }

  .extra__list {
    display: flex;
    flex-wrap: wrap;
  }

  .extra__item {
    width: 50%;
  }

  .form__button--wrapper {
    display: flex;
    align-items: center;
  }

  .form__button {
    margin-right: 60px;
  }

  .comment__text {
    width: 630px;
  }
}

@media (min-width: $desktop-width) {
  .program__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .program__wrapper {
    width: 1220px;
  }

  .form__data {
    width: 570px;
  }

  .form__options {
    margin-left: auto;
    width: 570px;
  }

  .comment__text {
    width: 1220px;
  }

  .form__owner-data {
    width: 1220px;
  }

  .owner-data__list {
    display: flex;

    .owner-data__item {
      width: 570px;
    }
  }

  .owner-data__item--phone {
    margin-left: auto;
  }

  .extra__list {
    width: 1220px;

    .extra__item {
      width: 245px;
      margin-right: 80px;
    }

    .extra__item:last-child {
      margin-right: 0;
    }
  }
}
