.main-nav__btns a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav__btns {
  min-height: auto;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__button {
  margin-left: auto;
  display: block;
  position: relative;

  border: none;
  height: 20px;
  width: 25px;
  cursor: pointer;
  z-index: 2;

  &:hover,
  &:active {
    background-color: red;
  }
}

.main-nav--closed .main-nav__button::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: black;
  box-shadow: 0 10px 0 black, 0 20px 0 0 black;
}

.main-nav--opened .main-nav__button::before {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: greenyellow;
  }
}

.main-nav--closed ~ .main-nav__btns {
  display: none;
}

.main-nav--opened ~ .main-nav__btns {
  display: block;
}

.site-list__item {
  height: 65px;
  position: relative;
  display: flex;
}

.site-list__item::after {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.site-list a[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link {
  width: auto;
  position: relative;
  height: 45%;
  margin: auto;
}

.site-list__link.active::after {
  content: "";

  border: solid 1px $color-main;
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav__btns {
    min-height: 65px;
  }

  .main-nav__list {
    min-height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .site-list__item {
      padding-right: 35px;
    }

    .site-list__item:last-child {
      padding-right: 0;
    }
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__btns a {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .site-list__item::after {
    content: "";
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__btns a {
    font-size: 20px;
    line-height: 24.86px;
    font-weight: 400;
    text-transform: uppercase;

    color: $gray;
  }

  .main-nav__list {
    justify-content: flex-end;
  }

  .site-list__item--catalog a {
    color: black;
  }


  .site-list__link.active::after {
    content: "";

    border: solid 2px $color-main;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
  }
}
