.page-main__product-list {

  a {
    @include title-small;
    line-height: 20px;
    color: white;
  }
}

.product-list {
  h3 {
    @include title-small;
    line-height: 20px;
    text-transform: uppercase;
  }

  table {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.product-list__more {
  h3 {
    @include title-small;
    line-height: 20px;
    text-transform: uppercase;
  }

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  a {
    color: black;
    background-color: $gray;
  }
}
