.page-main__product-list {
  @include list-reset;

  a {
    @include title-small;
    line-height: 20px;
    color: white;
  }
}

.product-list {
  h3 {
    @include title-small;
    line-height: 20px;
    text-transform: uppercase;
  }

  table {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.product-list__more {
  h3 {
    @include title-small;
    line-height: 20px;
    text-transform: uppercase;
  }

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  a {
    color: black;
    background-color: $color-back;
  }
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 165px;
  }

  .product-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 324px;
    height: 433px;
    background-color: $gray;
    margin-bottom: 140px;
    margin-right: 60px;
  }

  .product-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .product-list__item:nth-last-child(1),
  .product-list__item:nth-last-child(2) {
    margin-bottom: 25px;
  }
  /* не понял как в скобках написать 1 и 2, чтобы одной строкой было. Через запятую не работает ч*/
  .product-list__wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-bottom: 40px;

    h3 {
      font-size: 20px;
      line-height: 20px;
      display: inline-block;
      width: 130px;
      text-align: center;
    }

    table {
      @include title-small;
      line-height: 16px;
      font-family: $font-two;

      width: 100%;

      td {
        height: 33px;
      }

      td:nth-child(2n) {
        text-align: right;
      }

      padding-bottom: 33px;
    }
  }

  .product-item__button {
    width: 100%;
  }

  .product-list__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-list__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    height: 433px;
    margin-right: 0;

    justify-content: flex-end;

    .product-list__wrapper {
      align-items: center;
    }

    h3 {
      display: inline-block;
      width: 135px;
      padding-bottom: 27px;
    }

    span {
      font-size: 16px;
      line-height: 16px;
      font-family: $font-two;
      display: inline-block;
      width: 175px;
      text-align: center;
      padding-bottom: 86px;
    }
  }

  .product-list__button--show-all {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-list__item {
    width: 245px;
    height: 431px;

    margin-right: 80px;
  }

  .product-list__item:nth-child(2n) {
    margin-right: 80px;
  }

  .product-list__item:nth-child(4n) {
    margin-right: 0;
  }

  .product-list__item:nth-last-child(1),
  .product-list__item:nth-last-child(2),
  .product-list__item:nth-last-child(3),
  .product-list__item:nth-last-child(4) {
    margin-bottom: 25px;
  }

  .product-list__wrapper {
    width: 170px;
    padding-bottom: 40px;

    table {
      padding-bottom: 33px;
    }
  }
}
