.type-feed__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 10%;
  padding-top: 10%;
  margin-left: 70px;

  position: relative;
}

.type-feed__text {
  @include text-all;
  font-family: $font-two;
  margin: 0;
  padding-bottom: 22px;
  position: relative;
}

.type-feed__text::after {
  content: "";

  position: absolute;
  border: solid 1px black;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0.1;
}

.type-feed__link-catalog {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 22px;
  position: relative;
}

.type-feed__link-catalog::before {
  content: url("../img/svg/icon-right-arrow-verylong.svg");
  position: absolute;
  right: -60px;
  top: 6px;
}

.type-feed__item {
  background-color: $color-back;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  height: 266px;
}

.type-feed__item--mass-gain {
  margin-bottom: 40px;
}

.type-feed__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .type-feed {
    margin-bottom: 45px;
  }

  .type-feed__title {
    @include title-top;
    line-height: 37, 02;

    padding-top: 70px;
    padding-bottom: 25px;
    margin: 0;
  }

  .type-feed__text {
    @include title-small;
    line-height: 24px;
    font-family: $font-two;

    padding-bottom: 60px;
  }

  .type-feed__link-catalog {
    font-size: 20px;
    line-height: 20px;

    padding: 0;
  }

  .type-feed__item {
    height: 372px;
    width: 708px;
    justify-content: start;
    align-items: flex-start;

    margin-bottom: 30px;
  }

  .type-feed__item--mass-gain {
    margin-bottom: 40px;
  }

  .type-feed__wrapper {
    width: 370px;
    height: 230px;
    margin-left: 55px;
  }

  .type-feed__text::after {
    content: "";

    display: none;
  }

  .type-feed__link-catalog::before {

    position: absolute;
    right: -60px;
    top: -15px;
  }
}

@media (min-width: $desktop-width) {
  .type-feed {
    display: flex;
    justify-content: space-between;

    margin-top: -50px;
    margin-bottom: 35px;
  }

  .type-feed__item--los-weight {
    margin-right: 80px;
  }

  .type-feed__title {
    @include title-top;
    line-height: 37, 02;
    margin-left: auto;
    margin-right: auto;

    padding-top: 65px;
    padding-bottom: 65px;
  }

  .type-feed__text {
    @include title-small;
    line-height: 24px;
    font-family: $font-two;

    width: 465px;

    padding-bottom: 35px;
  }

  .type-feed__link-catalog {
    font-size: 20px;
    line-height: 20px;
  }

  .type-feed__item {
    height: 372px;
    width: 708px;
  }

  .type-feed__wrapper {
    width: 470px;
    height: 230px;
    padding-left: 55px;
    margin: 0;
  }
}
