@charset "UTF-8";
/*
 basic - Основные
 */
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }

a {
  text-decoration: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.button {
  width: 280px;
  height: 40px;
  color: white;
  background-color: #68b738;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.bg-gray {
  background-color: #eeeeee; }

img {
  max-width: 100%;
  height: auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto; }

/*
 Index - главная страница
 */
.page-header a {
  color: black; }

.page-header ul {
  list-style-type: none; }

.page-header {
  width: 320px;
  min-height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.page-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.page-header__logo {
  width: 195px;
  height: 38px;
  background-image: url("/img/svg/logo-mobile.svg");
  background-repeat: no-repeat; }

.page-header__logo-link {
  width: 195px;
  height: 38px; }

@media (min-width: 768px) {
  .page-header {
    min-width: 768px;
    min-height: 85px; }
  .page-header__wrapper {
    min-width: 708px;
    height: 75px; }
  .page-header__logo {
    width: 175px;
    height: 70px;
    background-image: url("/img/svg/logo-tablet.svg");
    background-repeat: no-repeat; }
  .page-header-top {
    width: 175px;
    height: 75px;
    margin-right: 90px; }
  .page-header__logo {
    width: 175px; } }

@media (min-width: 1440px) {
  .page-header {
    min-width: 1440px; }
  .page-header__wrapper {
    width: 1220px;
    height: 75px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-header__logo {
    width: 205px;
    height: 60px;
    background-image: url("/img/svg/logo-desktop.svg");
    background-repeat: no-repeat; }
  .page-header-top {
    width: 205px;
    height: 60px;
    margin-right: 90px; }
  .page-header__logo {
    width: 205px; } }

.advantages {
  padding-bottom: 20px; }

.advantages__title {
  font-size: 36px;
  font-weight: 400; }

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.advanages__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 20px;
  padding-left: 80px; }

.advanages__item:last-child {
  padding-bottom: 0; }

@media (min-width: 768px) {
  .advantages {
    padding-bottom: 55px; }
  .advantages__title {
    font-size: 60px;
    line-height: 60px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advanages__item {
    width: 354px;
    height: 230px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 90px;
    padding: 0;
    padding-top: 120px; }
    .advanages__item .advanages__item--wrap {
      display: block;
      width: 198px; } }

@media (min-width: 1440px) {
  .advantages {
    padding-bottom: 90px; }
  .advantages__title {
    font-size: 60px;
    line-height: 60px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advanages__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 245px;
    height: 245px;
    margin-bottom: 90px;
    padding: 0;
    padding-top: 120px;
    margin-right: 75px; }
  .advanages__item:last-child {
    margin-right: 0px; }
  .advanages__item--wrap {
    display: block;
    width: 198px; } }

.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center; }

.banner__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; }

.banner {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 480px; }

.banner__picture {
  text-align: center; }

.banner__buttom {
  text-align: center;
  width: 280px; }

.banner__button-wrap {
  margin: 0;
  width: 280px; }
  .banner__button-wrap a {
    color: white; }

.banner__button-wrap {
  position: absolute;
  bottom: 0; }

@media (min-width: 768px) {
  .banner {
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .banner__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left; }
  .banner__text {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400; }
  .banner__button-wrap {
    left: 0;
    top: 300px; } }

@media (min-width: 1440px) {
  .banner {
    width: 1330px; }
  .banner::after {
    content: "";
    background-image: url("/img/index-background-desktop@1x.jpg");
    background-repeat: none;
    background-size: contain;
    width: 50%;
    height: 500px;
    position: absolute;
    right: 0px;
    top: -90px;
    z-index: -2; } }

.exemplar {
  background-color: #eeeeee;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.exemplar__wrapper {
  width: 280px; }

.exemplar__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px; }

.exemplar__info {
  font-size: 14px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  padding-bottom: 25px; }

.result__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px; }

.result__info {
  font-size: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; }

.exemplar__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.result__time,
.result__weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.exemplar__expenses {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }

.exemplar__after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  padding-bottom: 35px; }

.find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.find-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px; }

.find-us__invite {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 25px;
  padding-top: 25px;
  line-height: 20px;
  text-transform: uppercase; }

.find-us__adress {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 25px;
  padding-top: 25px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  font-style: normal; }

.page-footer {
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto; }

.page-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px; }

.page-footer__wrapper {
  width: 280px; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }
  .page-footer__social a {
    color: black; }

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px; }

@media (min-width: 768px) {
  .page-footer {
    width: 768px; }
  .page-footer__wrapper {
    min-width: 708px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__copyright {
    padding: 0; } }

@media (min-width: 1440px) {
  .page-footer {
    min-width: 1440px; }
  .page-footer__wrapper {
    width: 1220px; } }

.page-main {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-main__wrapper {
  width: 280px; }

.page-main__background {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 480px; }

.page-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  font-weight: 400; }

.page-main__product-list {
  list-style: none; }

.banner__image {
  background-image: url("/img/index-can-mobile@1x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 265px; }

@media (min-width: 768px) {
  .page-main {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .page-main__wrapper {
    width: 708px; }
  .page-main__background {
    background-image: none;
    width: 570px; }
  .banner__title,
  .banner__text {
    color: black; }
  .banner__image {
    background-image: url("/img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 575px;
    height: 580px;
    position: relative;
    z-index: -1;
    top: -30px;
    right: 30px; }
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px; } }

@media (min-width: 1440px) {
  .page-main {
    width: 1440px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .page-main__wrapper {
    width: 1220px; }
  .page-main__background {
    background-image: none;
    width: 1220px;
    height: 280px; }
  .banner__image {
    background-image: url("/img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 425px;
    height: 460px;
    position: relative;
    top: -280px;
    right: -420px; } }

.type-feed__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 25px; }

.type-feed__text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding-bottom: 45px; }

.type-feed__link-catalog {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400; }

.type-feed__item {
  background-color: #eeeeee;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 266px; }

.type-feed__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 240px;
  height: 205px; }

@media (min-width: 768px) {
  .type-feed {
    margin-bottom: 45px; }
  .type-feed__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 37,02; }
  .type-feed__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Arial", sans-serif; }
  .type-feed__link-catalog {
    font-size: 20px;
    line-height: 20px; }
  .type-feed__item {
    height: 372px;
    width: 708px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .type-feed__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 370px;
    height: 230px;
    margin-left: 55px; } }

@media (min-width: 1440px) {
  .type-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .type-feed__item--los-weight {
    margin-right: 80px; }
  .type-feed__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 37,02;
    margin-left: auto;
    margin-right: auto; }
  .type-feed__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Arial", sans-serif; }
  .type-feed__link-catalog {
    font-size: 20px;
    line-height: 20px; }
  .type-feed__item {
    height: 372px;
    width: 708px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .type-feed__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 470px;
    height: 230px;
    padding-left: 55px; } }

.page-main__product-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-main__product-list a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: white; }

.product-list h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.product-list table {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

.product-list__more h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.product-list__more span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

.product-list__more a {
  color: black;
  background-color: #eeeeee; }

@media (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 165px; }
  .product-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 324px;
    height: 433px;
    background-color: #eeeeee;
    margin-bottom: 140px;
    margin-right: 60px; }
  .product-list__item:nth-child(2n) {
    margin-right: 0; }
  .product-list__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    padding-bottom: 40px; }
    .product-list__wrapper h3 {
      font-size: 20px;
      line-height: 20px;
      display: inline-block;
      width: 130px;
      text-align: center; }
    .product-list__wrapper table {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      font-family: "Arial", sans-serif;
      width: 100%;
      padding-bottom: 33px; }
      .product-list__wrapper table td {
        height: 33px; }
      .product-list__wrapper table td:nth-child(2n) {
        text-align: right; }
  .product-item__button {
    width: 100%; }
  .product-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .product-list__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 324px;
    height: 433px;
    margin-right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .product-list__more .product-list__wrapper {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .product-list__more h3 {
      display: inline-block;
      width: 135px;
      padding-bottom: 27px; }
    .product-list__more span {
      font-size: 16px;
      line-height: 16px;
      font-family: "Arial", sans-serif;
      display: inline-block;
      width: 175px;
      text-align: center;
      padding-bottom: 86px; }
  .product-list__button--show-all {
    width: 100%; } }

@media (min-width: 1440px) {
  .product-list__item {
    width: 245px;
    height: 431px;
    background-color: #eeeeee;
    margin-bottom: 140px;
    margin-right: 80px; }
  .product-list__item:nth-child(2n) {
    margin-right: 50; }
  .product-list__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 170px;
    padding-bottom: 40px; }
    .product-list__wrapper table {
      padding-bottom: 33px; } }

.additional__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px; }

.additional ul {
  list-style: none; }

.additional-item__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase; }

.additional-item__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Arial", sans-serif; }

.additional__button {
  color: white; }

.additional__banner {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 280px;
  height: 289px;
  color: white;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat; }
  .additional__banner span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 50%; }

.program ul {
  list-style: none; }

.program__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

.program__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

.program__form {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }
  .program__form input {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase; }

.extra__legend,
.comment__legend,
.owner-data__legend {
  font-size: 24px;
  font-weight: 400;
  text-transform: none; }

.form__button {
  border: none; }

.form__discription {
  font-size: 14px;
  font-weight: 400;
  text-transform: none; }

.main-nav a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase; }

.main-nav {
  min-height: 225px; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__button {
  margin-left: auto; }

@media (min-width: 768px) {
  .main-nav {
    min-height: 65px; }
  .main-nav__list {
    min-height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-nav__list .site-list__item {
      padding-right: 35px; }
    .main-nav__list .site-list__item:last-child {
      padding-right: 0; }
  .main-nav__button {
    display: none; }
  .main-nav a {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
    text-transform: uppercase; } }

@media (min-width: 1440px) {
  .main-nav a {
    font-size: 20px;
    line-height: 24.86px;
    font-weight: 400;
    text-transform: uppercase;
    color: #eeeeee; }
  .main-nav__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

/*# sourceMappingURL=style.css.map */
