@mixin title-top {
  font-size: 36px;
  font-weight: 400;
}
@mixin title-middle {
  font-size: 24px;
  font-weight: 400;
}
@mixin title-small {
  font-size: 16px;
  font-weight: 400;
}
@mixin text-all {
  font-size: 14px;
  font-weight: 400;
}

$green: #68b738;
$gray: #eeeeee;
$color-main: $green;
$color-back: $gray;

$font-one: "Oswald", "Arial", sans-serif;
$font-two: "Arial", sans-serif;

/*
 basic - Основные
 */
@import "basic/body.scss";
@import "basic/container.scss";
@import "basic/content.scss";
@import "basic/visuallyhidden.scss";
/*
 Index - главная страница
 */
@import "index/page-header.scss";
@import "index/advantages.scss";
@import "index/banner.scss";
@import "index/copyright.scss";
@import "index/exemplar.scss";
@import "index/find-us.scss";
@import "index/main-nav.scss";
@import "index/page-footer.scss";
@import "index/page-main.scss";
@import "index/result.scss";
@import "index/social.scss";
@import "index/site-list.scss";
@import "index/type-feed.scss";
